{% extends 'emails/base.html.twig' %}

{% block body %}
    <h1><a href="{{ frontend_url }}" about="_blank">{{ brand }}-комьюнити</a></h1>

    <p>Для подтверждения вашего нового электронного адреса, <b>пожалуйста, подтвердите свой электронный адрес, пройдя по ссылке ниже.</b></p>

    <a href="{{ emailConfirmationLink }}" about="_blank">{{ emailConfirmationLink }}</a>

    <p>Ссылка будет доступна 10 часов.</p>

    <p>Если вы не инициировали данное изменение, пожалуйста свяжитесь с нашей технической поддержкой.</p>

    <p>
        С наилучшими пожеланиями,<br>
        команда {{ brand }}.
    </p>
{% endblock %}
