{% extends 'emails/base.html.twig' %}

{% block body %}
    <h1>Здравствуйте, {{ user.nickname }}!</h1>

    <p>Для завершения регистрации на сайте {{ brand }}, <b>пожалуйста, подтвердите свой электронный адрес, пройдя по ссылке ниже.</b></p>

    <a href="{{ emailConfirmationLink }}" about="_blank">{{ emailConfirmationLink }}</a>

    <p>Аккаунт будет рассмотрен администрацией сайта только после подтверждения электронного адреса.</p>

    <p>
        С наилучшими пожеланиями,<br>
        команда {{ brand }}.
    </p>
{% endblock %}
